<br>
<br>
<br>
<br>
<div align="center">  
  <h2>Who's Around? was made by <%= link_to "Emily Lowing", "https://twitter.com/elowing" %>, <%= link_to "Ilana Sufrin", "https://twitter.com/ilanasufrin" %> and <%= link_to "Ben Serviss", "https://twitter.com/benserviss" %> at <%= link_to "The Flatiron School", "http://www.flatironschool.com  " %>.
  </h2>
<br>
<br>
<br>
<br>
Logo 'Friends' designed by Rob Schill from the Noun Project<br>
Arrow designed by Thomas Le Bas from the Noun Project
</div>