<h1>Edit Your Location</h1>


<%= form_for(@user) do |u|%>
<%= u.hidden_field :user_id, :value => @user.id %>
<%= u.text_field :location, :placeholder => "Enter Full Address" %>
<%= u.submit "Save" %>
<% end %>