<br><br>
<div align="center">
  <%= link_to image_tag('/assets/logo.png', size: '200'),users_path %><br>
  <h1>Who's Around?</h1>
</div>

<%#= link_to image_tag(clothing_article.photo.url), user_clothing_article_path(clothing_article.user_id, clothing_article.id)%>