<h1>Users#show</h1>

<h2>Dashboard / Profile Page</h2>
Set My Location (upon first user log-in)
<%= link_to 'Log Out', logout_path %>

<br>
<% if @current_user %>
  <%= link_to 'Log Out', logout_path %>
<% else %>
  <%= link_to 'Log in with Twitter', auth_twitter_path %>
<% end %>
